<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.exam.model.dao.DoctorDao">

<insert id="insertDoctor" parameterType="com.ssafy.exam.model.dto.Doctor">
INSERT INTO doctor(doctor_id, name,age,specialty_code,experience_years, profile_image_url) VALUES (#{doctorId} ,#{name},#{age},#{specialtyCode},#{experienceYears},#{profileImageUrl})
</insert>

<select id="selectAllDoctors" resultType="com.ssafy.exam.model.dto.Doctor">
SELECT d.doctor_id, d.name, d.age, d.specialty_code, d.experience_years, j.specialty_name, d.profile_image_url
	FROM doctor d 
	JOIN specialty j 
	ON d.specialty_code = j.specialty_code
	ORDER BY d.doctor_id ASC
</select>

<select id="selectDoctorById" parameterType="int" resultType="com.ssafy.exam.model.dto.Doctor">
SELECT d.doctor_id, d.name, d.age, d.specialty_code, d.experience_years, j.specialty_name
	FROM doctor d 
	JOIN specialty j 
	ON d.specialty_code = j.specialty_code
WHERE doctor_id = #{id}
</select>

<update id="updateDoctor" parameterType="com.ssafy.exam.model.dto.Doctor">
UPDATE doctor SET name=#{name}, age=#{age}, specialty_code=#{specialtyCode}, experience_years=#{experienceYears} WHERE doctor_id =#{doctorId}
</update>

<delete id="deleteDoctor" parameterType="int">
DELETE FROM doctor WHERE doctor_id = #{id}
</delete>

</mapper>