@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  display: flex;
  min-width: 600px;
}

.main {
  width: 100%;

}

.mainSub{
  display: flex;
  align-items: center;
  margin: 50px;
  flex-direction: column;
}

.aside {
  width: 300px;
  min-height: 100vh;
  background-color: rgb(34, 63, 116);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
}

.form-title {
color:rgb(49, 96, 183);
  font-size: 24px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.form-input-wrapper {
  width: 400px;
  margin-bottom: 15px;
}

.form-input {
  width: 220px;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border 0.3s;
}

.form-input-file{
  width: 220px;
  margin: 10px 0px;
  padding: 10px;
  font-size: 16px;
  transition: border 0.3s;
}

.form-input:focus {
  border-color: rgb(34, 63, 116)f;
  outline: none;
}

.form-btn {
  background-color: rgb(34, 63, 116);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 100%;
}

.form-btn:hover {
  background-color: #0056b3;
}

.list-title {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight:700;
  padding: 30px;
}

.list-item {
  color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}

.list-item:hover {
  cursor: pointer;
  background-color: rgba(39, 92, 207, 0.5);
  color: white;
}

.list-item-select {
  background-color: white;
  color: black;
}

.form-group{
	width:350px;
}



/*







---------------------*/

.login-form-wrapper {
  display: flex;
  box-shadow: 1px 1px 30px rgba(39, 92, 207, 0.25);
  height: 60vh;
  border-radius: 50px;
}

.login-form-image-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.login-form-image {
  width: 200px;
  padding: 50px;
}

.login-form {
  background-color: rgba(39, 92, 207, 0.5);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.login-form-title {
  color: white;
  font-size: 80px;
  font-weight: bold;
}

.login-form-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.login-form-input {
  border: 0;
  width: 400px;
  font-size: 30px;
  padding: 20px;
  border-radius: 20px;
}

.login-form-input:focus {
  outline: 10px solid rgb(39, 92, 207);
}

.login-form-button {
  padding: 20px;
  font-size: 25px;
  border-radius: 50px;
  width: 200px;
  border: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-form-button-login {
  background-color: rgb(39, 92, 207);
  border: 4px solid rgb(39, 92, 207);
}

.login-form-button-signup {
  border: 4px solid white;
  background-color: transparent;
}

.login-form-button:hover {
  background-color: rgb(39, 92, 207, 0.25);
  transition: all 0.3s ease-in-out;
}

.login-validation {
  margin: 10px 20px;
  font-size: 20px;
  color: rgb(155, 64, 28);
  line-height: 30px;
}
